<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>About</h1>
     </div>
</section>
<br /><br /><br />

<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Who We Are</h2></h2>
                <hr class="my-4">
                <h6 class="section-heading" style = "text-align:left">
                    Us To Youth is a non-profit organization dedicated to bridging the gap between
                    the youth in low-income and at-risk communities. These youth groups range from several
                    activities (sports, arts, etc.) that will serve as a catalyst to healthy lifestyle decisions in
                    the future for the next generation by establishing positive mentors to assist them throughout
                    their childhood. During our first year, we will be working with children in low-income or at-risk
                    communities, and our vendors will be tailored towards physical activities that they can
                    participate in this summer.
                </h6>
         </div>
    </div>    
</div>

<br />

<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Personal Story:</h2></h2>
                <hr class="my-4">
                <h6 class="section-heading" style = "text-align:left">
                    I grew up in a rough neighborhood on 13th and Mariposa. Back then, there were these
                    red brick government houses for low-income families. Several of my friends lived in those
                    houses. Parents used to have their kids in the house by 6 pm due to gang violence that would
                    happen at night. My transition from 5th grade to 6th grade was very rough. A lot of my friends
                    started to become active members of local gangs, jumping other kids, and tagging
                    buildings. When they found out that I didn’t want any part of gangs, they started to label me as a
                    target, I’ve been jumped to a point of where I was unconscious, I got into a lot of fights, mostly
                    because I refused to be part of their gangs and tried to defend myself.<br /><br />
                    
                    Later on, I was introduced to Wrestling and Jiu-Jitsu, which paved the path to where I am
                    today. I also found Muay Thai and Boxing much later. These martial arts taught me discipline,
                    gave me confidence, and taught me how to defend myself in real life threatening situations.
                    They’ve also helped me establish positive mentors in my life when I hit rock bottom at times,
                    and have also exposed me to a network of people (Software Engineers,
                    Lawyers, Doctors, etc… all who share a passion for the interests I do) I’ve also received several
                    career opportunities through my connections, One of my favorite occupations is teaching kids
                    Brazilian jiu-jitsu on a weekly basis and being someone they can talk to in situations where they
                    feel down.<br /><br />
                    
                    When I reflect on my past situation, I am thankful for being where I am today. Some of
                    my former friends and classmates that actively participated in gangs in the past are either
                    locked up, disabled or dead due to gang violence, or still stuck in their ways. I don’t think this is
                    entirely their fault; usually in low-income and at-risk communities children have older siblings
                    and mentors who are already actively involved in gangs, and hence by default are pressured
                    into participating in gangs as well. If we could show them alternative paths, it could make a huge
                    impact to a child as it did to me. I’m hoping to do the best I can and pay it forward through my
                    experiences.
                </h6>
         </div>
    </div>    
</div>
<br />
<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Action Plan</h2></h2>
                <hr class="my-4">
                <h6 class="section-heading" style = "text-align:left">
                    We are hosting an event this late spring called “Pledge to Play”. The event will bring
                    children from these communities on to campus. We will coordinate field activities and games to
                    play and introduce them to youth groups within the community to help them stay active and out
                    of trouble for the summer. 
 <br /><br />
                    
                    The kids will participate in an activity called “The Pledge”. They will write a statement that they
                    will stay active and involved in the summer, then dip their hand in their favorite color paint
                    and stamp it on a canvas as a “pledge”. Kids can then take this home and hang it up on their
                    wall as a reminder of what they pledged to do this summer.<br /><br />
                    
                    We are working with Fairview Elementary to bring their 5th grade class onto campus.<br /><br />
                    
                    <b>
                        Event Details: <br />
                        Date: May 16th, 2018 <br/>
                        Address: 890 Auraria Pkwy #310, Denver, CO 80204 <br />
                        Location: P.E Event Center at Auraria Campus <br />
                        Time: 11:00 am to 3:00 pm <br /><br />
                    </b>
                </h6>
         </div>
    </div>    
</div>

