<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Contact Us</h1>
     </div>
</section>
<br /><br /><br />
<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Talk with us.</h2></h2>
                <hr class="my-4">
         </div>
    </div>    
</div>

<div class = "container">
    <div class="col-lg-12 text-center">
         <h5 class="section-heading">
            If you have any questions of concerns please fill out the form below<br />
            Or<br/> 
            Email ustoyouth@gmail.com we will get to you as soon as possible!<br /><br />
            
            Please click the button below to contact us:<br /><br />
             <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://msudenver.qualtrics.com/jfe/form/SV_3KJOewslmcJvvjT" target="_blank">Contact Us</a>
        
         
         </h5>
    </div>
    
</div>
<br />