    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Us To Youth</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">
              A Non-Profit Dedicated to Building The Next Generation
            </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Mission Statement:</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">
               Us To Youth is a non-profit organization dedicated to creating a healthy and positive 
               lifestyle to the youth in low-income and at-risk communities. Our hope, is to create a bridge between
               youth programs and children within the communities, whether it is youth sports, literacy, or art.
               In doing so, this will aid in keeping children out of trouble, while at the same time building 
               character and leadership within the next generation. 
               <br/><br />
            </p> 
              <h2 class="section-heading text-white">
              Our Current Project: Pledge to Play 2018 <br />
              </h2>
              <p class="text-faded mb-4">
              Date: May 16th, 2018 <br/>
              Address: 890 Auraria Pkwy #310, Denver, CO 80204 <br />
              Location: P.E Event Center at Auraria Campus <br />
              Time: 11:00 am to 3:00 pm <br /><br />
              
              This event will expose the kids to local youth programs within their communities,
              and encourage them to join programs that interests them throughout the summer, as this will aid in helping to build character,
              a healthy lifestyle, and possibly expose kids to a network of mentors they can look up to within the community. 
              In return we are hoping that this project will help keep kids out of trouble, and motivated to stay active,
              while at the same time be part a group that can provide support.
              This event is to become a catalyst for healthy decisions in the future and create retention among healthy, educated, and vibrant youth prior to College.
              </p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Our Values</a>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our Values</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Youth</h3>
              <p class="text-muted mb-0">
                We hope to inspire and create an impact to the youth in a positive manner. 
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Community</h3>
              <p class="text-muted mb-0">We hope to bring together a network of local youth programs to benefit the next generation.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Leadership</h3>
              <p class="text-muted mb-0">Our vision is to build character among the youth by providing them with positive mentors</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-thumbs-o-up text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Trust</h3>
              <p class="text-muted mb-0">We are an organization dedicated to building a connection between children and youth groups within the community.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--
    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Category
                  </div>
                  <div class="project-name">
                    Partner Name
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
-->
    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Sign up to be a volunteer!</h2>
        <a class="btn btn-light btn-xl sr-button" href="https://msudenver.qualtrics.com/jfe/form/SV_8wWMz2kUOIkGRg1"target="_blank" >Sign Up</a>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact Us!</h2>
            <hr class="my-4">
            <p class="mb-5">For any questions or concerns, please feel free to contact us:</p>
          </div>
        </div>
        
        <div class="row">
          <!--
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          -->
          <div class="col-lg-8 mx-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:your-email@your-domain.com">ustoyouth@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

