<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Meet The Team</h1>
     </div>
</section>
<br /><br /><br />

    <!-- Page Content -->
    
    <!-- Introduction Row -->
      <div class="container">
        <p class="text-muted mb-0 text-center">
           Helping the next generation. 
        </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Adam</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Beatriz<h3/>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Lauren</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Lacey</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Jazz</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Mike</h3>
        </div>
      </div>

    </div>
    <!-- /.container -->

<br /><br /><br />

<!--
 <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Adam
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        -->