<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>RSVP</h1>
     </div>
</section>
<br /><br /><br />
<div class = "container">
    <p class="text-muted mb-0 text-center">
       We would like to see you at this event! please download the waiver and turn it in to the volunteers
       at the check-in table at the event. Also, please fill out the following fields below to provide us with statistics, 
       and a general idea of how many children we will expect to see (which will assist us in our quantity of snacks we should expect to provide). 
         <br /> 
        ***RSVP Applications have not opened*** 
    </p>
    <br />
    <div class = "form-row">
         <p class="text-muted mb-0 text-center">
             Please download the event waiver form here and submit it to the volunteers at the check-in table at the event: 
         </p>
          <button class="btn btn-info btn-sm">Waiver</button>
     </div>
    <form>
       <div class="form-row">
            <div class="col">
              <label class="text-muted mb-0" for="formGroupExampleInput">First name:</label>
              <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <label class="text-muted mb-0" for="formGroupExampleInput">Last name:</label>
              <input type="text" class="form-control" placeholder="">
            </div>
       </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">Email:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">Phone number:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">T-shirt size:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">How did you hear about us?:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">How many children will you bring?:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="text-muted mb-0">
                <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                  I will submit the waiver in person at the event 
                </label>
             </div><br />
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted mb-0">Additional Information:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
           </div>
      <button class="btn btn-primary">Submit</button>
    </form>
</div>
<br />