<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Team</h1>
     </div>
</section>
<br /><br /><br />

    <!-- Page Content -->
    
    <div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Meet The Team</h2></h2>
                <hr class="my-4">
                <p class="mb-5">
                    A team working to help the next generation.
                </p>
         </div>
    </div>    
    
    <!-- Introduction Row 
      <div class="container">
        <p class="text-muted mb-0 text-center">
           A team working to help the next generation. 
        </p>
      <br /> -->
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Adam.jpg" alt="">
          <h3>Adam</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Zoe.jpg" alt="">
          <h3>Zoe</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/John.jpeg" alt="">
          <h3>John</h3>
        </div>
         <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Mike.jpg" alt="">
          <h3>Mike</h3>
        </div>
         <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Ana.jpg" alt="">
          <h3>Ana</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Beatriz.png" alt="">
          <h3>Beatriz<h3/>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Lacey.jpg" alt="">
          <h3>Lacey</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Jazz.jpg" alt="">
          <h3>Jazz</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/Justin.jpg" alt="">
          <h3>Justin</h3>
        </div>
      </div>

    </div>
    <!-- /.container -->

<br /><br /><br />

<!--
 <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="/images/profile-missing-resized.jpg" alt="">
          <h3>Adam
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        -->