<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Vendors</h1>
     </div>
</section>
<br /><br /><br />
<div class = "container">
    <p class="text-muted mb-0 text-center">
       Apply to be a Vendor! <br /> 
        ***Vendor applications have not yet opened*** 
    </p>
    <br />
    <form>
       <div class="form-row">
            <div class="col">
              <label class="text-muted mb-0" for="formGroupExampleInput">Company Name:</label>
              <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col">
              <label class="text-muted mb-0" for="formGroupExampleInput">Owner:</label>
              <input type="text" class="form-control" placeholder="">
            </div>
       </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">Email:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">Phone number:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">Category:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
            <div class="form-group">
                <label class="text-muted mb-0" for="formGroupExampleInput">How did you hear about us?:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
            </div>
        <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-muted mb-0">Additional Information:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
           </div>
      <button class="btn btn-primary">Submit</button>
    </form>
</div>
<br />