<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Vendors & Partnerships</h1>
     </div>
</section>
<br /><br /><br />

    <!-- Page Content -->
    
<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Pledge to Play 2018 Sponsors & Vendors</h2></h2>
                <hr class="my-4">
                <p class="mb-5">
                    Organizations that we are collaborating with.
                </p>
         </div>
    </div>

  <div class="row">
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/SACT.png" alt="">
        </div>
         <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/COLOR-1.jpg" alt="">
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/Easton-Logo-White.jpg" alt="">
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/shield.png" alt="">
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/fairviewLogo.png" alt="">
        </div>
         <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/Ask_BBDC.png" alt="">
        </div>
          <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="img-thumbnails img-fluid d-block mx-auto" src="/images/ByLillypad.jpg" alt="">
        </div>
        
    </div>
</div>
        
    