<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Volunteer</h1>
     </div>
</section>
<br /><br /><br />

<div class = "container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Give A Hand</h2></h2>
                <hr class="my-4">
         </div>
    </div>    
</div>

<div class = "container">
    <div class="col-lg-12 text-center">
         <h5 class="section-heading">
            We appreciate your interest in volunteering! If you would like to volunteer at the event,<br /><br /> you should plan to attend 
            the volunteer orientation on Monday May 14th.<br /><br/> 
            
            Please click the button below Sign Up:<br /><br />
             <a class="btn btn-primary btn-xl js-scroll-trigger" href="https://msudenver.qualtrics.com/jfe/form/SV_8wWMz2kUOIkGRg1" target="_blank">Sign Up</a>
        
         
         </h5>
    </div>
    
</div>
<br />