<section class="bg-dark text-white">
    <div class="container text-center">
       <h1>Contact Us</h1>
     </div>
</section>
<br /><br /><br />

<div class = "container">
    <p class="text-muted mb-0 text-center">
       For any questions or concerns feel free to contact us <br /> 
        ***Contact Form has not been setup*** 
    </p>
    <br />
    
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <form>
  <div class="form-row">
      <div class="col">
  <div class="field">
    <%= f.label :first_name, class: "text-muted mb-0", for: "formGroupExampleInput"%>
  <br>
    <%= f.text_field :first_name, class: "text-muted mb-0", for: "formGroupExampleInput" %>
  </div>
  <div class="field">
    <%= f.label :last_name, class: "text-muted mb-0", for: "formGroupExampleInput" %>
  <br>
    <%= f.text_field :last_name, class: "text-muted mb-0", for: "formGroupExampleInput" %>
  </div>
  <div class="field">
     <label class="text-muted mb-0" for="formGroupExampleInput">
    <%= f.label :email,  class: "text-muted mb-0", for: "formGroupExampleInput" %><br>
    <%= f.text_field :email,  class: "text-muted mb-0", for: "formGroupExampleInput" %>
  </div>
  <div class="field">
    <%= f.label :phone_number,  class: "text-muted mb-0", for: "formGroupExampleInput" %><br>
    <%= f.text_field :phone_number,  class: "text-muted mb-0", for: "formGroupExampleInput" %>
  </div>
  <div class="field">
    <%= f.label :description, class: "text-muted mb-0", for: "formGroupExampleInput" %><br>
    <%= f.text_area :description,  class: "text-muted mb-0", for: "formGroupExampleInput" %>
  </div>
   
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
</form>
</div>
</div>
<% end %>



