<!DOCTYPE html>
<html>
<head>
  <title>Us To Youth.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Us To Youth - Building The Next Generation</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/creative.min.css" rel="stylesheet">
    <style>
    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    </style>

</head>
<body>
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Us To Youth</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- 
            Javascript Links (TODO Later)
            <li class="nav-item">
               link_to 'Our Values', page_path('index#services'), class: "nav-link js-scroll-trigger"
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Our Partners</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a link_to 'Vendors', page_path('vendors_application'), class: "nav-link" >
            </li>
               <li class="nav-item">
            link_to 'RSVP', page_path('rsvp'), class: "nav-link" 
            </li>
            -->
            <li class="nav-item">
              <%= link_to 'Mission', root_path('/'), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Meet the Team', page_path('team'), class: "nav-link" %>
            </li>
             <li class="nav-item">
              <%= link_to 'About', page_path('about'), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Vendors', page_path('vendors'), class: "nav-link" %>
            </li>
            <li class="nav-item">
               <%= link_to 'Volunteer', page_path('Volunteerform'), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact Us', page_path('Contactform'), class: "nav-link" %>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
<%= yield %>

</body>



  <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/js/creative.min.js"></script>


<!-- Footer -->
<footer class="container-fluid bg-dark text-white text-center">
  <p>	&copy; Us To Youth, Inc. | ustoyouth@gmail.com</p><br>
  <p>Developed by <a href="https://adamtlee.co/">Adam T. Lee</a> | Original Template by <a href ="https://startbootstrap.com/">Startbootstrap</a> | Recommended Browsers: Chrome, Edge, Safari</p> 
</footer>
</html>
